@import url("./pages.css");

* {
    box-sizing: border-box;
    font-family: Georgia;
}

body {
    margin: 0;
    min-height: 100vh;
    font-size: 1.25rem;
}

[hidden] {
    display: none;
}

#page-3 {
    padding: 0;
}

section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

label {
    padding: 8px;
}

input[type="text"] {
    padding: 8px;
    width: 250px;
    font-size: 1rem;
}

.session-number {
    display: flex;
    align-items: center;
    gap: 40px;
}

button {
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}